@font-face {
	font-family: 'India';
	src: url('../fonts/170814102854India.woff') format('woff');
}
.clearfix:after,
.container:after{
	content:'';
	display:table;
	clear:both;
}
html,body{
	height: 100%;
}
body{
	min-width: 320px;
	font: 20px/34px 'Oswald', sans-serif;
	color: #333;
	background: #fff;
	margin: 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust:none;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*text styles*/
.text-sm{
	font-size: 16px;
	line-height: 30px;
}
.text-red{color: #e80000;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.text-uppercase{text-transform: uppercase;}
.mb0{margin-bottom: 0 !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
/*HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
p{
	margin: 0 0 15px;
}
p:last-child{
	margin: 0;
}
ol,
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	vertical-align:top;
	border-style:none;
	max-width: 100%;
	height: auto;
}
a{
	color: #8aa6ab;
	text-decoration: none;
	transition: all 0.2s ease;
}
a:hover{
	text-decoration: underline;
}
/*forms */
.form-group{
	margin: 0 0 20px;
}
input[type=text], input[type=submit], input[type=button],
input[type=password], input[type=file], textarea{
	-webkit-appearance:none;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button{
	display: none;
}
button,
input,
textarea,
select{
	font: 100% 'Oswald', sans-serif;
	color: #333;
	outline: none;
}
::-moz-placeholder{
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder{
	color: #999;
}
::-webkit-input-placeholder{
	color: #999;
}
.form-control:focus::-moz-placeholder{
	color: transparent;
}
.form-control:focus:-ms-input-placeholder{
	color: transparent;
}
.form-control:focus::-webkit-input-placeholder{
	color: transparent;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner{
	padding:0;
	border:0;
}
label{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 5px;
}
label.required:after{
	content: ' *';
	color: #e80000;
}
.form-control{
	box-shadow: none;
	background: #fff;
	font-size: 18px;
	line-height: 24px;
	width: 100%;
	margin: 0;
	color: #333;
	height: 50px;
	padding: 11px 10px;
	border-radius: 3px;
	border: 2px solid #eee;
	transition: all 0.2s ease;
}
.form-control:focus{
	border-color: #ddd;
}
.form-control[disabled]{
	opacity: 0.5;
}
/* custom select */
select.form-control{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	text-overflow: '';
	background: url('../images/arrow-down.svg') no-repeat right 13px top 50%;
}
select.form-control::-ms-expand{
	display: none;
}
select.form-control{
	padding: 11px 14px;
}
textarea.form-control{
	height: 200px;
	overflow: auto;
	vertical-align: top;
	resize: none;
}
/* form errors */
.has-error .form-control{
	border-color: #e80000;
}
.has-error label{
	color: #e80000;
}
.checkbox .help-block:empty,
.help-block:empty{
	height: 0;
	opacity: 0;
}
.help-block{
	display: none;
	font-size: 14px;
	line-height: 18px;
	padding: 5px 0 0;
	margin: 0;
	text-align: left;
	color: #3c763d;
}
.help-block-error{
	color: #e80000;
}
.has-error .help-block{
	display: block;
}
.alert,
.error-message{
	font-size: 14px;
	line-height: 18px;
	color: #3c763d;
	border: 1px solid #d6e9c6;
	background: #dff0d8;
	margin: 0 0 20px;
	padding: 9px 15px;
}
.alert ul,
.error-message ul{
	list-style: disc inside;
	margin: 0 0 0 15px;
}
.alert-danger,
.alert-error{
	color: #a94442;
	border-color: #ebccd1;
	background: #f2dede;
}
/*rating stars*/
.rating{
	display: inline-block;
	vertical-align: top;
}
.rating label:before{
	font-family: 'Font Awesome 5 Free';
	content: "\f005";
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	line-height: 1;
	font-weight: 900;
	color: #ffb900;
	cursor: pointer;
	transition: color 0.3s ease;
}
.rating input[type="radio"]{
	display: none;
}
/* turn off stars after the current rating */
.rating input:checked ~ label:before{
	font-weight: 400;
}
/* turn on the current rating */
.rating input:checked + label:before{
	font-weight: 900;
}
/* indicate current rating on hover */
.rating:hover input:checked + label:before{
	color: #ffe39e;
}
/* turn on star on hover */
.rating:hover input ~ label:before{
	font-weight: 900;
}
/* turn off siblings after the hovered star */
.rating:hover label:hover ~ input:not(:checked) + label:before{
	font-weight: 400;
}

/* checkbox / radio button */
input[type="checkbox"],
input[type="radio"]{
	margin: 0;
	padding: 0;
	width: 16px;
	height: 15px;
}
.radio,
.checkbox{
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.radio-inline,
.checkbox-inline,
.radio label,
.checkbox label{
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}
.radio-inline span,
.checkbox-inline span,
.radio label span,
.checkbox label span{
	position: relative;
	padding-left: 28px;
	min-height: 20px;
	line-height: 20px;
	font-size: 16px;
	display: block;
}
.radio-inline span:before,
.checkbox-inline span:before,
.radio label span:before,
.checkbox label span:before{
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0;
	top: 1px;
	border: 2px solid #eee;
	background: #fff;
}
.radio-inline span:before,
.radio label span:before{
	border-radius: 50%;
}
.radio-inline span:after,
.radio label span:after{
	content: '';
	position: absolute;
	background: #8aa6ab;
	left: 4px;
	top: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.2s ease;
}
.checkbox-inline span:after,
.checkbox label span:after{
	content: '';
	position: absolute;
	background: url('../images/check.svg') no-repeat;
	opacity: 0;
	left: 4px;
	top: 7px;
	width: 10px;
	height: 7px;
	transition: all 0.2s ease;
}
.radio-inline input[type="radio"]:checked + span:after,
.checkbox-inline input[type="checkbox"]:checked + span:after,
.radio input[type="radio"]:checked + span:after,
.checkbox input[type="checkbox"]:checked + span:after{
	opacity: 1;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]{
	position: absolute;
	opacity: 0;
}
.radio + .radio,
.checkbox + .checkbox {
	margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
	display: inline-block;
	line-height: 20px;
	font-size: 16px;
	margin: 0 10px 5px 0;
	font-weight: normal;
	vertical-align: middle;
	cursor: pointer;
}
.radio-group,
.checkbox-group{
	margin: 10px 0 5px;
}
/* input file */
.btn-file{
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.btn-file input[type="file"]{
	cursor: pointer;
	font-size: 160px;
	right: 0;
	opacity: 0;
	position: absolute;
	top: 0;
}
.file-name{
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 5px;
}
/* buttons */
.btn{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	padding: 14px 20px;
	background: #2a2a2a;
	border-radius: 5px;
	margin: 0;
	cursor: pointer;
	text-align: center;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid rgba(0,0,0,0.1);
	transition: all 0.2s ease;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn:hover{
	opacity: 0.9;
	text-decoration: none;
}
.btn:before{
	content: '';
	position: absolute;
	bottom: 0;
	top: 0;
	width: 100%;
	left: 100%;
	background: url('../images/ajax_loader.gif') no-repeat 50% 50%;
	transition: all 0.4s ease;
}
.btn.active:before{
	left: 0;
}
.no-active textarea.form-control,
.btn.active{
	color: transparent;
	pointer-events: none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.btn+.btn:not(.display-block){
	margin-left: 6px;
}
.container{
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}
.row{
	display: -ms-flex;
	display: flex;
	margin: 0 -30px;
}
.col{
	-ms-flex: 1;
	flex: 1;
	padding: 0 30px;
}
.col-2{
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}
/*header*/
#header{
	padding: 5px 0 9px;
	background: #000;
	border-bottom: 1px solid #000;
	box-shadow: 0 -1px 0 #606060 inset;
    z-index: 5;
}
#header .container{
	padding-left: 20px;
	padding-right: 20px;
}
#logo{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 5px;
}
#nav{
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
}
#nav>ul{
	float: right;
}
#nav>ul>li{
	float: left;
	margin: 0 0 0 34px;
	position: relative;
}
#nav>ul>li:first-child{
	margin: 0;
}
#nav>ul>li>a,
#nav>ul>li>span{
	float: left;
	color: #fff;
    cursor: pointer;
}
#nav li img{
	vertical-align: middle;
	margin: 0 3px 0 0;
}
#nav>ul>li:hover>a,
#nav>ul>li:hover>span,
#nav>ul>li>a:hover{
	text-decoration: none;
	color: #8aa6ab;
}
#nav .sub{
	position: absolute;
    top: 100%;
    left: 0;
    font-size: 18px;
    line-height: 24px;
    width: 150px;
    opacity: 0;
    visibility: hidden;
}
#nav>ul>li:hover .sub{
    opacity: 1;
    visibility: visible;
}
#nav .sub li{
    background: rgba(238,238,238,0.95);
}
#nav .sub li + li{
    margin-top: 1px;
}
#nav .sub a{
    color: #777;
    display: block;
    padding: 5px 10px;
}
#nav .sub a:hover{
    color: #222;
    text-decoration: none;
}
.btn-menu{
	display: none;
}
/*footer*/
#footer{
    font-size: 16px;
    line-height: 30px;
}
.footer-top{
	color: #f5f0f5;
	padding: 40px 0;
	background: #000;
}
.footer-top .row{
    margin: 0 -15px;
}
.footer-top .col{
    padding: 0 15px;
}
.footer-bottom{
	color: #fff;
	padding: 10px 0;
	background: #797979;
}
#footer h3{
	color: #fff;
	font: 32px/42px 'India';
	text-transform: uppercase;
	margin: 0 0 15px;
	border-bottom: 1px solid #464646;
}
#footer h4{
	color: #fff;
	font: 28px/38px 'India';
	text-transform: uppercase;
	margin: 0 0 10px;
}
.footer-nav{
	font-size: 18px;
	line-height: 36px;
	text-transform: uppercase;
}
.footer-nav li{
    border-bottom: 1px solid #464646;
}
.footer-nav li:last-child{
    border: none;
}
.footer-nav img{
    vertical-align: middle;
    margin: 0 5px 0 0;
	max-width: 40px;
	max-height: 40px;
}
.footer-nav li a,
.footer-nav li span{
    color: #f5f0f5;
    display: block;
	position: relative;
	padding: 7px 10px 7px 15px;
}
.footer-nav li a:before,
.footer-nav li span:before{
	content: '';
	position: absolute;
	top: 24px;
	left: 0;
	background: url("../images/double-arrow.png") no-repeat 0 0;
	width: 10px;
	height: 8px;
}
.footer-nav .sub li{
    border-top: 1px solid #464646;
}
.footer-nav .sub li a{
	padding: 7px 10px 7px 30px;
}
.footer-nav .sub li a:before{
	top: 22px;
	left: 10px;
}
#footer a{
	color: #f5f0f5;
}
#footer a:hover{
	text-decoration: none;
	color: #999;
}
#footer address{
	font-style: normal;
	margin: 0 0 5px;
}
#footer address span{
	display: block;
}
.location-block{
	margin: 0 0 25px;
}
.location-block:last-child{
	margin: 0;
}
.social-list{
	font-size: 0;
	line-height: 0;
	margin: 0 0 40px;
}
.social-list li{
	display: inline-block;
	vertical-align: middle;
}
.social-list li + li{
	margin-left: 5px;
}
.social-list a:hover{
	opacity: 0.8;
}
.companies-list{
	margin: 0 0 25px;
	text-transform: uppercase;
}
.companies-list li + li{
	padding-top: 15px;
}
/*promo-block*/
.promo-block{
	display: -ms-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	height: 500px;
}
.promo-block img{
	width: 100%;
}
.promo-text{
    color: #fff;
    font: 125px/1 'india';
    text-transform: uppercase;
}
.text-yum{
    font-size: 300px;
}
/*main*/
.main{
	padding-top: 65px;
	padding-bottom: 65px;
}
h2{
	font: 66px/90px 'india';
	margin: 0 0 45px;
	color: #000;
}
h3{
	font: 48px/90px 'india';
	margin: 0 0 30px;
}
h2:last-child,
h3:last-child{
	margin: 0;
}
/*home page*/
.home-links{
	margin-bottom: 115px;
}
.home-links .block{
	display: -ms-flex;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 406px;
	height: 406px;
	margin: 0 auto;
	padding: 80px 10px 10px;
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: cover;
	background-size: cover;
}
.home-links .block strong{
	color: #fff;
	font: 100px/1 'india';
	display: block;
	margin: 0 0 20px;
}
.home-links .btn{
	color: #000;
	font-size: 17px;
	line-height: 22px;
	font-weight: 500;
	padding: 10px 40px;
	background: #fff;
	border-radius: 3px;
	border-color: transparent;
}
.home-text{
	font: 18px/36px 'book antiqua', palatino, serif;
	margin: 0 0 80px;
}
.home-text img{
	vertical-align: text-bottom;
}
/*menu page*/
.menu-row{
	margin-bottom: 70px;
}
.dark-block{
	color: #fff;
	padding: 40px 30px;
	margin: 0 0 30px;
    background: #000;
}
.dark-block:last-child{
	margin: 0;
}
.title-dark-block{
	text-align: center;
	text-transform: uppercase;
	padding: 5px 30px;
}
.title-dark-block h2{
	color: #fff;
}
.dark-block h3{
    font: 80px/90px 'india';
    margin: 0 0 30px;
    text-align: center;
}
.dark-block h4{
    font: 42px/64px 'india';
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
}
.dark-block h3:last-child,
.dark-block h4:last-child{
	margin: 0;
}
.dark-block .title{
	font-size: 26px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 25px;
}
.dark-block .title h3{
	margin: 0 0 20px;
	text-transform: none;
}
.menu-list{
    color: #d6d6d6;
	margin: 0 0 30px;
}
.menu-list li{
	margin: 0 0 20px;
}
.menu-list:last-child,
.menu-list li:last-child{
	margin: 0;
}
.menu-list span{
	color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}
/*about page*/
.contact-row{
	text-align: center;
	padding: 35px 0 20px;
}
.contact-row a:hover{
	opacity: 0.8;
}
.contact-row img{
	max-width: 200px;
}
.address-block{
	text-align: center;
}
.address-block .map iframe{
	max-width: 100%;
}
.phone-block{
	text-transform: uppercase;
	text-align: center;
}
.phone-block a{
	color: #000;
}
.phone-block a:hover{
	text-decoration: none;
	color: #8aa6ab;
}
/*catering page*/
.catering-items{
	display: -ms-flex;
	display: flex;
	margin: 0 auto 125px;
	max-width: 1290px;
	text-align: center;
}
.catering-items .item{
	-ms-flex: 1;
	flex: 1;
	padding: 0 25px;
}
.catering-items .img-holder{
	margin: 0 auto 40px;
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.catering-items strong{
	display: block;
	color: #000;
	font: 40px/1 'india';
}
.catering-block{
	text-align: center;
	margin: 0 0 55px;
}
.catering-block h2{
	color: #8aa6ab;
	font: 56px/70px 'india';
	margin: 0 0 20px;
}
.catering-block p{
	margin: 0;
}
.catering-phone{
	text-align: center;
	font-size: 40px;
	line-height: 50px;
}
.catering-phone a{
	color: #333;
}
.catering-phone a:hover{
	color: #8aa6ab;
	text-decoration: none;
}
/*book a truck page*/
.book-items{
	margin: 0 0 40px;
}
.book-items .item{
	overflow: hidden;
	margin: 0 0 35px;
	padding: 0 0 35px;
	border-bottom: 6px solid #000;
}
.book-items .item:last-child{
	padding: 0;
	margin: 0;
	border: none;
}
.book-items .img{
	float: left;
	width: 315px;
	margin: 0 30px 5px 0;
}
.book-items .text{
	overflow: hidden;
}
.book-items a{
	color: #333;
}
.date-title{
	background: #8aa6ab;
	padding: 60px 30px;
	margin: 0 0 35px;
	color: #000;
	text-align: center;
}
.date-title h2{
	font: 56px/70px 'india';
}
.book-form{
	max-width: 1000px;
	margin: 0 auto;
}
/*reviews page*/
.reviews-list .item{
    padding: 20px;
	margin: 0 0 20px;
    border: 1px solid #e6e6e6;
}
.reviews-list .item:last-child{
	margin: 0;
}
.reviews-list .heading{
    display: block;
    color: #8aa6ab;
    position: relative;
    padding: 0 0 0 40px;
	margin: 0 0 10px;
    font: 48px/72px 'india';
}
.reviews-list .heading:before{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
	background: url('../images/reviews/quotes.png') no-repeat 0 0;
	width: 29px;
	height: 24px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.reviews-list .holder{
	overflow: hidden;
	margin: 0 0 5px;
}
.reviews-list .img{
	float: left;
	width: 165px;
	height: 165px;
	overflow: hidden;
	padding: 6px;
	margin: 5px 20px 0 0;
	border: 1px solid #efefef;
}
.reviews-list .text{
	overflow: hidden;
}
.reviews-list p{
	margin: 0;
}
.reviews-list p a{
	color: #333;
}
.reviews-list p a:hover{
	color: #8aa6ab;
	text-decoration: none;
}
.review-form{
	padding: 60px 0;
	background: #8aa6ab;
}
.review-form .container{
	max-width: 1000px;
	margin: 0 auto;
}
.review-form h2{
	text-align: center;
	font: 56px/70px 'india';
}
/*contact page*/
.contact-form{
	margin: 0 auto;
	max-width: 1000px;
}
.contact-form h2{
	text-align: center;
	text-transform: uppercase;
	font: 133px/150px 'india';
	margin: 0 0 30px;
}



/* media queries */
@media(max-width: 1439px){
	#footer{
		font-size: 15px;
	}
	#footer h3{
		font-size: 27px;
		line-height: 36px;
	}
	#footer h4{
		font-size: 24px;
		line-height: 34px;
	}
	.footer-nav{
		font-size: 16px;
	}
	/**/
	.promo-block{
		height: 400px;
	}
	.home-links .block{
		width: 340px;
		height: 340px;
	}
	.catering-items .item{
		padding: 0 15px;
	}
}
@media(max-width: 1199px){
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.row{
		margin-left: -15px;
		margin-right: -15px;
	}
	.col{
		padding-left: 15px;
		padding-right: 15px;
	}
	h3{
		line-height: 70px;
	}
	/**/
	#logo{
		max-width: 400px;
		margin: 0 0 20px;
	}
	#nav{
		font-size: 16px;
		line-height: 20px;
	}
	#nav>ul>li{
		margin: 0 0 0 24px;
	}
	#nav li img{
		max-width: 36px;
		max-height: 36px;
	}
	/**/
	#footer{
		font-size: 14px;
		line-height: 24px;
	}
	.footer-top{
		padding: 20px 0;
	}
	#footer h3{
		font-size: 22px;
		line-height: 32px;
	}
	#footer h4{
		font-size: 19px;
		line-height: 28px;
	}
	.footer-nav{
		font-size: 15px;
	}
	.footer-nav img{
		max-width: 30px;
		max-height: 30px;
	}
	.footer-nav li a,
	.footer-nav li span{
		padding: 4px 10px 4px 15px;
	}
	.footer-nav li a:before,
	.footer-nav li span:before{
		top: 19px;
	}
	.footer-nav .sub li a{
		padding: 4px 10px 4px 30px;
	}
	.footer-nav .sub li a:before{
		top: 18px;
	}
	.social-list{
		margin: 0 0 20px;
	}
	.social-list li{
		max-width: 44px;
	}
	/**/
	.promo-block{
		height: 335px;
	}
	.promo-text{
		font-size: 85px;
	}
	.text-yum{
		font-size: 180px;
	}
	.home-links{
		margin-bottom: 60px;
	}
	.home-links .block{
		width: 300px;
		height: 300px;
	}
	.home-links .block strong{
		font-size: 70px;
	}
	.title-dark-block{
		padding: 30px 55px;
	}
	.title-dark-block h2{
		font-size: 50px;
		line-height: 60px;
	}
	.dark-block{
		padding: 30px 15px;
	}
	.dark-block h3{
		font-size: 50px;
		line-height: 60px;
	}
	.dark-block h4{
		font-size: 30px;
		line-height: 40px;
	}
	.catering-items{
		margin: 0 auto 70px;
	}
	.catering-items .img-holder{
		width: 120px;
		height: 120px;
		margin: 0 auto 20px;
	}
	.catering-items strong{
		font-size: 30px;
	}
	.contact-form h2{
		font-size: 80px;
		line-height: 90px;
	}
}
@media(max-width: 991px){
	#header .container{
		padding-left: 10px;
		padding-right: 10px;
	}
	#logo{
		max-width: 340px;
	}
	#nav{
		font-size: 14px;
	}
	#nav>ul>li{
		margin: 0 0 0 20px;
	}
	#nav li img{
		max-width: 26px;
		max-height: 26px;
	}
	/*footer*/
	.quick-links{
		display: none;
	}
	#footer .col-2{
		-ms-flex: 0 0 65%;
		flex: 0 0 65%;
	}
	/**/
	.promo-block{
		height: 260px;
	}
	.promo-text{
		font-size: 65px;
	}
	.text-yum{
		font-size: 130px;
	}
	.home-links .block{
		width: 226px;
		height: 226px;
	}
	.home-links .block strong{
		font-size: 50px;
	}
	.contact-row img{
		max-width: 150px;
	}
	.book-items .img{
		width: 215px;
	}
	.catering-items{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.catering-items .item{
		max-width: 165px;
		margin: 0 0 20px;
		padding: 0 10px;
	}
	.catering-items .img-holder{
		margin: 0 0 10px;
	}
	.address-block h2{
		font-size: 50px;
		line-height: 60px;
	}
}
@media(max-width: 767px){
	body{
		font-size: 16px;
		line-height: 30px;
	}
	#header{
		position: relative;
	}
	#logo{
		margin: 0;
		float: left;
		max-width: 220px;
	}
	.btn-menu{
		display: block;
		float: right;
		color: #fff;
		cursor: pointer;
		font-size: 0;
		line-height: 0;
		padding: 7px;
		margin: 13px -7px 0 0;
	}
	.btn-menu .material-icons{
		font-size: 30px;
		vertical-align: top;
	}
	#nav{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		top: 100%;
		left: 0;
		right: 0;
		font-size: 16px;
	}
	#nav>ul{
		float: none;
	}
	#nav>ul>li{
		float: none;
		margin: 0;
		border-top: 1px solid #606060;
	}
	#nav>ul>li:first-child{
		border-top: none;
	}
	#nav>ul>li>a,
	#nav>ul>li>span{
		float: none;
		display: block;
		padding: 10px 10px;
	}
	#nav li img{
		margin: -3px 3px 0 0;
	}
	#nav .sub{
		position: static;
		width: auto;
		opacity: 1;
		visibility: visible;
		font-size: 16px;
		line-height: 20px;
	}
	#nav .sub li{
		background: none;
	}
	#nav .sub li:first-child{
		border-top: 1px solid #606060;
	}
	#nav .sub a{
		color: #fff;
		padding: 10px 50px;
		position: relative;
	}
	#nav .sub a:before{
		content: '';
		position: absolute;
		top: 17px;
		left: 35px;
		background: url("../images/double-arrow.png") no-repeat 0 0;
		width: 10px;
		height: 8px;
	}
	/*footer*/
	#footer {
		font-size: 12px;
		line-height: 20px;
	}
	#footer .container{
		padding-left: 10px;
		padding-right: 10px;
	}
	.footer-top .row{
		margin: 0 -10px;
	}
	.footer-top .col{
		padding: 0 10px;
	}
	#footer .col-2{
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
	}
	#footer h3{
		margin: 0 0 10px;
	}
	#footer h4{
		margin: 0 0 5px;
	}
	.companies-list li + li{
		padding-top: 5px;
	}
	.location-block{
		margin: 0 0 10px;
	}
	/**/
	.main{
		padding-top: 30px;
		padding-bottom: 50px;
	}
	h2{
		font-size: 44px;
		line-height: 1;
		margin: 0 0 15px;
	}
	h3{
		font-size: 40px;
		line-height: 1;
	}
	/**/
	.promo-block{
		height: 200px;
	}
	.promo-text{
		font-size: 40px;
		padding: 0 15px;
		text-align: center;
	}
	.text-yum {
		font-size: 100px;
	}
	.home-links{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.home-links .col{
		padding: 0;
		margin: 0 0 30px;
	}
	.home-text{
		margin: 0 0 30px;
	}
	.home-text img{
		width: auto;
		height: auto;
		max-width: 50px;
		max-height: 50px;
	}
	.contact-row{
		padding: 20px 0 0;
	}
	.contact-row img{
		max-width: 70px;
	}
	.address-block{
		display: block;
		margin: 0;
	}
	.address-block .col{
		padding: 0;
		margin: 0 0 30px;
	}
	.address-block .col:last-child{
		margin: 0;
	}
	.address-block h2{
		font-size: 40px;
		line-height: 1;
	}
	.address-block .map iframe{
		max-height: 300px;
	}
	.reviews-list .item{
		padding: 15px;
	}
	.reviews-list .heading{
		font-size: 34px;
		line-height: 1;
		padding: 0 0 0 35px;
	}
	.reviews-list .heading:before{
		width: 20px;
		height: 16px;
		top: 6px;
	}
	.reviews-list .text{
		overflow: visible;
	}
	.review-form{
		padding: 30px 0;
	}
	.review-form h2,
	.date-title h2,
	.catering-block h2{
		font-size: 48px;
		line-height: 1;
	}
	.dark-block h3{
		margin: 0 0 15px;
	}
	.contact-form h2{
		font-size: 60px;
		line-height: 1;
		margin: 0 0 15px;
	}
	.book-items .text{
		overflow: visible;
	}
	.date-title{
		padding: 30px 10px;
	}
	.book-form .row,
	.menu-row{
		margin: 0 0 30px;
		display: block;
	}
	.book-form .col,
	.menu-row .col{
		padding: 0;
	}
	.menu-row .col + .col{
		padding-top: 15px;
	}
	.catering-items{
		margin: 0 auto 30px;
	}
	.catering-block{
		margin: 0 0 30px;
	}
	.dark-block{
		margin: 0 0 15px;
	}
	.dark-block h3{
		font-size: 40px;
		line-height: 1;
	}
	.dark-block h4{
		font-size: 26px;
		line-height: 30px;
	}
	.dark-block .title{
		font-size: 22px;
		line-height: 32px;
		margin: 0 0 15px;
	}
	.dark-block .title h3{
		margin: 0 0 10px;
	}
	.title-dark-block h2{
		font-size: 46px;
		line-height: 56px;
	}
	.menu-list li{
		margin: 0 0 15px;
	}
	.menu-list span{
		font-size: 20px;
	}
}
@media(max-width: 567px){
	/*footer*/
    #footer{
        font-size: 14px;
    }
	#footer .row{
		margin: 0;
		display: block;
	}
	#footer .col{
		padding: 0;
	}
	#footer .col + .col{
		padding-top: 15px;
	}
}
@media(max-width: 479px){
	.reviews-list .img,
	.book-items .img{
		float: none;
		display: block;
		margin: 0 auto 10px;
	}
}